  
<html>
<head>
    <meta charset="utf-8"/>
    <title>Spectronn Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" type="text/javascript"></script>
</head>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" type="text/javascript"></script>





<h1>Real-time Dashboard</h1>

<a href="historic">Checkout historic data here </a>

<body>

<script>
    var formattedTime;
    function timeConverter(UNIX_timestamp){
        // Create a new JavaScript Date object based on the timestamp
// multiplied by 1000 so that the argument is in milliseconds, not seconds.
        var date = new Date(UNIX_timestamp*1000);
// Hours part from the timestamp
        var hours = date.getHours();
// Minutes part from the timestamp
        var minutes = "0" + date.getMinutes();
// Seconds part from the timestamp
        var seconds = "0" + date.getSeconds();

        var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        var year = date.getFullYear();
        var month = months[date.getMonth()];
        var display_date = date.getDate();


// Will display time in 10:30:23 format
        formattedTime = display_date+" "+month+" "+year+" "+hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
        return formattedTime;
    }



    var fetched_data;
    var flag=0;
    function apicall_systemload(){

        const URL='http://52.71.186.103:19999/api/v1/data?chart=system.load';


        fetch(URL)
            .then(function(response) {
                return response.json();
            })
            .then(function(myJson) {

                fetched_data=myJson;
            });

        var i=0,time_list=[],load1=[],load5=[],load15=[];
        for (i;i<fetched_data.data.length;i++){
            time_list.push(timeConverter(fetched_data.data[i][0]));
            load1.push(fetched_data.data[i][1]);
            load5.push(fetched_data.data[i][2]);
            load15.push(fetched_data.data[i][3]);
        }

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {

            type: 'line',
            data: {
                labels: time_list.reverse() ,
                datasets:[{label:'load1',data:load1.reverse(),borderColor:'rgb(255,0,0)'},{label:'load5',data:load5.reverse(),borderColor:'rgb(0,255,0)'},{label:'load15',data:load15.reverse(),borderColor:'rgb(0,0,255)'}]
            },
            options: {
                    animation: {
                    duration: 1 // general animation time
                },
                elements: {
                    point:{
                        radius:0

                    }
                }
            }

        });




    };

    var fetched_bandwidthdata;
    var received=0,sent=0;

    function apicall_netbandwidth() {
        const URL_netbandwidth = 'http://52.71.186.103:19999/api/v1/data?chart=system.net';
        fetch(URL_netbandwidth)
            .then(function (response) {
                return response.json();
            })
            .then(function (myJson2) {

                fetched_bandwidthdata = myJson2;

            });
        var latest_value=fetched_bandwidthdata.data[0];
        received = latest_value[1];
        sent = latest_value[2];
        document.getElementById("Received").innerHTML=received + " kilobits/s";
        document.getElementById("Sent").innerHTML=sent + " kilobits/s";

    }


</script>


<h3>Physical Network Interfaces Aggregated Bandwidth</h3>

<h5>Sent data: <span id="Sent"></span></h5>
<h5>Received data: <span id="Received"></span></h5>


<h3>System Load</h3>
<p style="color:red;">Please wait a few seconds for the chart to load</p>
<div class="chart-container">
    <canvas id="myChart"></canvas>
</div>




</body>

<script>
    setInterval(apicall_netbandwidth,100);
    setInterval(apicall_systemload,3000);
</script>

</html>
